#private-channels [href="/store"] {
    /** Remove annoying nitro tab below the friends button. **/
    display: none;
}

.image-1GzsFd[style*='background-image: url("/assets/b5eb2f7d6b3f8cc9b60be4a5dcf28015.svg")'] {
    background-image: url('https://gistcdn.githack.com/Dries1234/1b10daaeeba58acac90bbf4d7a3dc1ad/raw/7e8acdbc2a9c6e17d2076d01781022238cbe49e9/All-Friends.svg') !important;
    background-size: cover;
}

/* Pending */
.image-1GzsFd[style*='background-image: url("/assets/b669713872b43ca42333264abf9c858e.svg")'] {
    background-image: url('https://gistcdn.githack.com/Dries1234/1b10daaeeba58acac90bbf4d7a3dc1ad/raw/7e8acdbc2a9c6e17d2076d01781022238cbe49e9/pending.svg') !important;
    background-size: cover;
}


/* Blocked */
.image-1GzsFd[style*='background-image: url("/assets/8c998f8fb62016fcfb4901e424ff378b.svg")'] {
    background-image: url('https://gistcdn.githack.com/Dries1234/1b10daaeeba58acac90bbf4d7a3dc1ad/raw/7e8acdbc2a9c6e17d2076d01781022238cbe49e9/Blocked.svg') !important;
    background-size: cover;
}

/* LIBRARY TAB */
.theme-dark .emptyWumpus-12J3jI {
    background-image: url('https://gistcdn.githack.com/Dries1234/1b10daaeeba58acac90bbf4d7a3dc1ad/raw/7e8acdbc2a9c6e17d2076d01781022238cbe49e9/gaming.svg') !important;
    background-size: cover;
}

.theme-dark .emptyStateImage-2eMp68 {
    background-image: url('https://gistcdn.githack.com/Dries1234/1b10daaeeba58acac90bbf4d7a3dc1ad/raw/7e8acdbc2a9c6e17d2076d01781022238cbe49e9/gaming.svg') !important;
    background-size: cover;
}

.theme-light .emptyWumpus-12J3jI {
    background-image: url('https://gistcdn.githack.com/Dries1234/1b10daaeeba58acac90bbf4d7a3dc1ad/raw/7e8acdbc2a9c6e17d2076d01781022238cbe49e9/gaming.svg') !important;
    background-size: cover;
}

.theme-light .emptyStateImage-2eMp68 {
    background-image: url('https://gistcdn.githack.com/Dries1234/1b10daaeeba58acac90bbf4d7a3dc1ad/raw/7e8acdbc2a9c6e17d2076d01781022238cbe49e9/gaming.svg') !important;
    background-size: cover;
}

/** Fix guild banner **/

.bannerImage-1jOskm:before {
    background: linear-gradient(0deg, var(--background-secondary) 3%, transparent 66%, rgba(0, 0, 0, 0.5) 100%);
    height: 100%;
}

.animatedContainer-1pJv5C {
    box-shadow: none !important;
}

/** Fix region selector **/

.layer-2KE1M9 .focusLock-Ns3yie .regionSelectModal-12e-57 {
    background: var(--background-primary) !important;
}

.layer-2KE1M9 .focusLock-Ns3yie .regionSelectModal-12e-57 .regionSelectModalOptions-2TWQOB .regionSelectModalOption-2DSIZ3 {
    background: var(--background-secondary) !important;
    border-color: var(--background-tertiary);
}

@import "https://monstrousdev.github.io/themes/addons/iconTabs.css";
@import "https://monstrousdev.github.io/themes/addons/iconTabs-disabledGames.css";
@import "https://monstrousdev.github.io/themes/addons/userSettingsModal.css";
@import "https://monstrousdev.github.io/themes/addons/minimalUserList.css";

.pc-scroller [class|=container] {
    position: relative;
}
.pc-scroller [class|=container]:not([class|=container-0])::after {
    content: "";
    position: absolute;
    top: 28px;
    background: #55595f;
    height: 1.1px;
    left: 6px;
    right: 0px;
    z-index: -1;
}
.pc-scroller [class|=container] .pc-containerDefault:first-child {
    display: flex;
    align-items: center;
}
.pc-scroller [class|=container] .pc-containerDefault:first-child > * {
    background: #2f3136;
    margin: 0 auto;
}

.numberBadge-2s8kKX {
    animation: animatedPing 1.5s infinite ease-in-out;
}

@keyframes animatedPing {
    0% {
        transform: rotate(-15deg);
    }

    50% {
        transform: rotate(15deg) scale(1.2);
    }

    100% {
        transform: rotate(-15deg);
    }
}

.upperBadge-2XnnGB {
    display: none;
}
rect[x="28"][y="-4"][width="24"][height="24"][rx="12"][ry="12"][transform="translate(0 0)"][fill="black"] {
  display: none;
}

.menu-Sp6bN1 {
    border-radius: 0px;
    width: 240px;
    background-color: var(--deprecated-panel-background);
    box-shadow: none;
}

.layer-v9HyYc[style="left: 80px; bottom: 57px;"] {
    left: 72px !important;
    bottom: 53px !important;
}

.menu-Sp6bN1 .separator-2zcjq8/*, .statusItem-2uzPIV .helper-2c73HK*/ {
    display: none;
}

.dividerContent-2L12VI::before {
    display: none;
}

.dividerContent-2L12VI {
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    margin: 8px 0;
    color: var(--header-primary);
}

.dividerRed-MKoLlr .dividerContent-2L12VI {
    color: #f04747;
}
a.pc-anchor[href="https://support.discordapp.com"] {
    display: none
}