.verticalSeperator-3huAjp {
    /**Login Panel Vertical Seperator Length Fix**/
    padding-bottom: 12rem;
}
.h5-18_1nd {
    /** Login Panel Email/Password Text Center **/
    text-align: center;
}
[class="marginBottom20-32qID7 marginTop4-2BNfKC linkButton-wzh5kV button-38aScr lookLink-9FtZy- colorBrand-3pXr91 sizeMin-1mJd1x grow-q77ONN"] {
    /** Login Panel ForgotPassword Text Center **/
    padding-left: 8.75rem;
    text-align: center;
}
