.button-F9qN4n.focused-3ZzkKr {
    /** Thanks to @sadlennysub#6727 for this! Hover Reaction Fix**/
    -webkit-box-shadow: none;
    box-shadow: none;
}

.edited-3sfAzf {
    /** Change Edited text to transparent and hide it **/
    color: rgba(0, 0, 0, 0);
}

.edited-3sfAzf::before {
    /** Replace "(Edited)" with a pencil customise this to your will...**/
    content: "✏ ";
    margin-left: .3em;
    font-size: 0.625rem;
    cursor: pointer;
    line-height: 1;
    user-select: none;
    color: var(--text-muted);
}

.noIcon-1a_FrS.iconSizeLarge-161qtT {
    /** Fix zalgo and arabic/non lettered guild names overflowing down the chat, ruining the channel.**/
    overflow: hidden;
}

.toolbar-1t6TWx a {
    display: none;
}

.buttonWrapper-1ZmCpA {
    display: none;
}

/** Fix jump to present button**/
.jumpToPresentBar-9P20AM {
    display: grid !important;
    background-color: #0000 !important;
    justify-content: right;
    min-height: 0 !important;
    height: 0;
    padding: 0 !important;
    opacity: 1 !important;
}

.jumpToPresentBar-9P20AM .barButtonAlt-3gIkIj {
    color: #0000;
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
    width: 40px;
    height: 40px;
    border-radius: 50px !important;
    background-color: var(--background-tertiary) !important;
    transform: translate(-5px, -52px);
    cursor: pointer;
}

.jumpToPresentBar-9P20AM .barButtonAlt-3gIkIj::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 55%;
    height: 55%;
    background-image: url(https://image.flaticon.com/icons/svg/271/271210.svg);
}

.theme-dark .jumpToPresentBar-9P20AM .barButtonAlt-3gIkIj::before {
    filter: invert(60%);
}

.theme-light .jumpToPresentBar-9P20AM .barButtonAlt-3gIkIj::before {
    filter: invert(40%);
}

.jumpToPresentBar-9P20AM *:not(.barButtonAlt-3gIkIj) {
    display: none !important;
}

/** Force fira code in code blocks**/
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);

code,
.codeLine-14BKbG {
    font-family: 'Fira Code', monospace;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    color: #abb2bf;
    background: #282c34
}

.hljs-comment,
.hljs-quote {
    color: #5c6370;
    font-style: italic
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #c678dd
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e06c75
}

.hljs-literal {
    color: #56b6c2
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
    color: #98c379
}

.hljs-built_in,
.hljs-class .hljs-title {
    color: #e6c07b
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: #d19a66
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #61aeee
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: bold
}

.hljs-link {
    text-decoration: underline
}