/** Make discord Tweaks server title rainbow **/
@import 'https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/DiscordFont.css';

.header-2o-2hj[data-guild-id="713860553885483081"] {
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    text-align: center;
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    animation: rainbow 8s ease infinite;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 25%
    }

    100% {
        background-position: 0% 50%
    }
}

img[src="https://cdn.discordapp.com/icons/713860553885483081/f9ca481e85be0cf34f458a602bcc96c9.webp?size=128"] {
    animation: w3-spin 2s infinite linear;
    border-radius: 50%;
}
@keyframes w3-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}


/** Replace discord logo with a bolder and smoother variant **/
.wordmark-2iDDfm:after {
    content: "DISCORD";
    color: #E0E0E0 !important;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    width: 4000px;
    top: 5px;
    padding-left: -3px;
    font-family: "Discord";
}

.wordmark-2iDDfm>svg {
    width: 0px;
}

/** Remove powercord badge **/
.powercord-badge {
    display: none;
}