.lookOutlined-3sRXeN.colorGreen-29iAKY {
    color: #43b581;
    border-color: rgba(0, 0, 0, 0)
}
.title-3sZWYQ[class="colorStandard-2KCXvj size14-e6ZScH h5-18_1nd title-3sZWYQ marginBottom8-AtZOdT"] {
    text-align: center;
}
.title-3sZWYQ[class="colorStandard-2KCXvj size14-e6ZScH h5-18_1nd title-3sZWYQ defaultMarginh5-2mL-bP"] {
    text-align: center;
}
