.side-8zPYf6 .header-2RyJ0Y:first-child {
    text-align: center;
}

.title-3sZWYQ[class="colorStandard-2KCXvj size14-e6ZScH h5-18_1nd title-3sZWYQ marginBottom4-2qk4Hy"] {
    text-align: center;
}

.title-3sZWYQ[class="colorStandard-2KCXvj size14-e6ZScH h5-18_1nd title-3sZWYQ marginBottom4-2qk4Hy faded-3bns_w"] {
    text-align: center;
}

.side-8zPYf6 .item-PXvHYJ {
    padding-top: 5px;
}

.header-2RyJ0Y {
    text-align: center;
    padding-bottom: 1rem;
}

@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);

code,
.codeLine-14BKbG {
    font-family: 'Fira Code', monospace;
}

.cm-qualifier,
.cm-property,
.cm-string,
.cm-atom,
.cm-def {
    font-family: 'Fira Code', monospace;
    font-size: 10px
}

.topPill-30KHOu {
    text-align: center;
    padding-left: 14rem;
}

.separator-gCa7yv {
    height: 20px;
}